= simple_form_for(@teacher) do |f|
  = f.error_notification

  .form-inputs
    = f.input :login
    = f.input :firstname
    = f.input :middlename
    = f.input :lastname
    = f.input :email

  .form-actions
    = f.button :submit
